.reg{
	max-width: 800px;
}

.login{
	max-width: 600px;
}

.head{
	text-align: center;
}

.regsub{
	margin-top: 20px;
}

.reglogin{
	margin-top: 20px;
}

.btn-radio {
	width: 100%;
}

.row img{
	margin-top: 5px;
	width: 100%;
}